node_modules/
dist/
output/
.vite/
*.tsbuildinfo
src-tauri/target/
src-tauri/target-fixed/
src-tauri/src-tauri/target-final/
.idea/
.vscode/
*.log
src-tauri/gen/
*.exe
**/target/
**/target-fixed/
**/target-final/
src-tauri/src-tauri/
